@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  #root {
    @apply min-h-screen flex animate-[fadeIn_1.5s_ease-in-out_forwards];
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
  }
  
  @keyframes fadeIn {
    0%{
      opacity: 0;

    }
    100%{
      opacity: 1;

    }
    
  }
}


